.dialoguebox {
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background-color: rgb(242, 242, 242);
  z-index: 1000;
  color: black;
  bottom: 1rem;
  border: 1px solid black;
  font-size: 1.1rem;
  padding: 0.5rem;
  font-family: "Unifont";
  min-height: 2rem;
}
