.intro {
  width: var(--screen-size);
  height: var(--screen-size);
  display: grid;
  place-items: center;
  background-color: black;
  font-family:
    "SuperPixel",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.blink {
  color: rgb(136, 0, 255);
  font-size: 2rem;
  animation: blink 2s ease-in-out infinite;
}

@keyframes blink {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 80%;
  }
  50% {
    opacity: 0%;
  }
  75% {
    opacity: 100%;
  }
}
