.intro {
  width: var(--screen-size);
  height: var(--screen-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-family:
    "Unifont",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: white;
  padding: 2rem;
  text-align: center;
}

.intro p {
  overflow: hidden;
  border-right: 2px solid transparent;
  white-space: nowrap;
  margin: 0.4rem auto;
  padding: 0;
  animation:
    typing 3s steps(40, end) forwards,
    border-blink 1s step-end infinite;
  width: 0;
}

.blink {
  font-family:
    "SuperPixel",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: rgb(136, 0, 255);
  font-size: 2rem;
  animation: blink 2s ease-in-out infinite;
}

@keyframes blink {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 80%;
  }
  50% {
    opacity: 0%;
  }
  75% {
    opacity: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-border {
  from {
    border-color: transparent;
  }
  to {
    border-color: rgb(136, 0, 255);
  }
}
