@font-face {
  font-family: "SuperPixel";
  src: url(../public/fonts/SuperPixel.ttf);
}

@font-face {
  font-family: "Unifont";
  src: url(../public/fonts/gnu-unifont.otf);
}

:root {
  --background-color: rgb(233, 227, 236);
  --screen-size: 500px;
  --shell-color: rgb(202, 158, 237);
  --button-color: rgb(20, 20, 20);
  --shell-height: 30rem;
  --control-arrow-height: 2.5rem;
  --control-arrow-width: 4rem;
  --controller-bottom: 10vh;
  --controller-margin: 3vw;
  --controller-opacity: 0.6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  place-items: center;
  max-height: 100vh;
  background-color: var(--background-color);
}
