:root {
  --background-color: rgb(233, 227, 236);
  --shell-color: rgb(202, 158, 237);
  --button-color: rgb(20, 20, 20);
  --shell-height: 30rem;
  --control-arrow-height: 2.5rem;
  --control-arrow-width: 4rem;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: var(--background-color);
  overflow: hidden;
}
